# Agenda: Week five

1. Recap and Q&A
2. Basic intro to visualization
3. Line plots
4. Bar plots
5. Histograms
6. Pie plots
7. Scatter plots
8. What next?
    - What's next for Pandas?
    - What's next for you?

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = pd.read_csv('taxi.csv')

In [3]:
df.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.00,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.00,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.00,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.00,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.00,0.3,10.30
5,1,2015-06-02 11:19:33,2015-06-02 11:28:48,1,1.40,-73.944641,40.779465,1,N,-73.961365,40.771561,1,8.0,0.0,0.5,1.75,0.00,0.3,10.55
6,1,2015-06-02 11:19:34,2015-06-02 11:38:46,1,1.80,-73.992867,40.748211,1,N,-73.969772,40.748459,1,12.5,0.0,0.5,3.00,0.00,0.3,16.30
7,1,2015-06-02 11:19:35,2015-06-02 12:36:46,4,11.90,-73.863075,40.769253,1,N,-73.986710,40.761307,1,52.5,0.0,0.5,15.00,5.54,0.3,73.84
8,2,2015-06-02 11:19:36,2015-06-02 11:45:19,1,1.27,-73.991432,40.749306,1,N,-73.985062,40.759525,2,15.0,0.0,0.5,0.00,0.00,0.3,15.80
9,1,2015-06-02 11:19:38,2015-06-02 11:23:50,1,0.60,-73.970734,40.796207,1,N,-73.977470,40.789509,1,5.0,0.0,0.5,0.50,0.00,0.3,6.30

In [12]:
# I want to find all of the rows where passenger_count is 2 and trip_distance is > 10

df.loc[(df['passenger_count'] == 2) &         (df['trip_distance'] > 10)]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
88,2,2015-06-02 11:20:37,2015-06-02 12:35:21,2,23.76,-73.791214,40.645409,1,N,-74.006966,40.724930,1,72.5,0.0,0.5,8.95,11.75,0.3,94.00
379,2,2015-06-02 11:23:17,2015-06-02 11:55:39,2,16.38,-73.993309,40.729580,2,N,-73.806839,40.653099,1,52.0,0.0,0.5,8.00,0.00,0.3,60.80
448,2,2015-06-02 11:23:48,2015-06-02 12:14:18,2,15.25,-73.863243,40.769901,1,N,-74.009300,40.708721,1,48.5,0.0,0.5,16.45,5.54,0.3,71.29
465,2,2015-06-02 11:19:38,2015-06-02 12:13:33,2,11.16,-73.874542,40.774101,1,N,-73.983719,40.744011,1,43.0,0.0,0.5,9.87,5.54,0.3,59.21
488,2,2015-06-02 11:19:56,2015-06-02 11:46:09,2,10.99,-73.972252,40.763329,1,N,-73.864891,40.770409,1,33.0,0.0,0.5,11.80,5.54,0.3,51.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9561,2,2015-06-01 00:10:40,2015-06-01 00:35:54,2,13.57,-73.833321,40.761478,1,N,-73.975822,40.673969,1,38.0,0.5,0.5,5.00,0.00,0.3,44.30
9611,1,2015-06-01 00:11:52,2015-06-01 00:37:49,2,17.20,-73.788208,40.641529,2,N,-73.982460,40.742596,1,52.0,0.0,0.5,11.65,5.54,0.3,69.99
9692,2,2015-06-01 00:11:07,2015-06-01 00:37:05,2,15.69,-73.789818,40.646782,1,N,-73.960541,40.647797,1,43.0,0.5,0.5,0.00,0.00,0.3,44.30
9729,1,2015-06-01 00:11:57,2015-06-01 00:52:19,2,19.80,-73.790375,40.644089,2,N,-73.965057,40.805264,1,52.0,0.0,0.5,11.65,5.54,0.3,69.99
9843,2,2015-06-01 00:12:00,2015-06-01 00:32:09,2,14.55,-73.863228,40.769939,1,N,-73.976227,40.657410,1,39.5,0.5,0.5,10.20,0.00,0.3,51.00

In [13]:
# what about the df.query method?

df.query('passenger_count == 2 & trip_distance > 10')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
88,2,2015-06-02 11:20:37,2015-06-02 12:35:21,2,23.76,-73.791214,40.645409,1,N,-74.006966,40.724930,1,72.5,0.0,0.5,8.95,11.75,0.3,94.00
379,2,2015-06-02 11:23:17,2015-06-02 11:55:39,2,16.38,-73.993309,40.729580,2,N,-73.806839,40.653099,1,52.0,0.0,0.5,8.00,0.00,0.3,60.80
448,2,2015-06-02 11:23:48,2015-06-02 12:14:18,2,15.25,-73.863243,40.769901,1,N,-74.009300,40.708721,1,48.5,0.0,0.5,16.45,5.54,0.3,71.29
465,2,2015-06-02 11:19:38,2015-06-02 12:13:33,2,11.16,-73.874542,40.774101,1,N,-73.983719,40.744011,1,43.0,0.0,0.5,9.87,5.54,0.3,59.21
488,2,2015-06-02 11:19:56,2015-06-02 11:46:09,2,10.99,-73.972252,40.763329,1,N,-73.864891,40.770409,1,33.0,0.0,0.5,11.80,5.54,0.3,51.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9561,2,2015-06-01 00:10:40,2015-06-01 00:35:54,2,13.57,-73.833321,40.761478,1,N,-73.975822,40.673969,1,38.0,0.5,0.5,5.00,0.00,0.3,44.30
9611,1,2015-06-01 00:11:52,2015-06-01 00:37:49,2,17.20,-73.788208,40.641529,2,N,-73.982460,40.742596,1,52.0,0.0,0.5,11.65,5.54,0.3,69.99
9692,2,2015-06-01 00:11:07,2015-06-01 00:37:05,2,15.69,-73.789818,40.646782,1,N,-73.960541,40.647797,1,43.0,0.5,0.5,0.00,0.00,0.3,44.30
9729,1,2015-06-01 00:11:57,2015-06-01 00:52:19,2,19.80,-73.790375,40.644089,2,N,-73.965057,40.805264,1,52.0,0.0,0.5,11.65,5.54,0.3,69.99
9843,2,2015-06-01 00:12:00,2015-06-01 00:32:09,2,14.55,-73.863228,40.769939,1,N,-73.976227,40.657410,1,39.5,0.5,0.5,10.20,0.00,0.3,51.00

In [14]:
# which is faster?

%timeit df.loc[(df['passenger_count'] == 2) &         (df['trip_distance'] > 10)]

334 µs ± 10.5 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [15]:
%timeit df.query('passenger_count == 2 & trip_distance > 10')

1.12 ms ± 21.9 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

# Summary chart

1. `df.query` lets you write your queries in more natural language, treating your column names as variables, and without explicitly creating as many boolean series.
2. However, `df.query` can run faster, and also can run more slowly -- you need to check.

In [16]:
%timeit df.loc[(df['passenger_count'] == 2)]

322 µs ± 29.2 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [17]:
%timeit df.query('passenger_count == 2')

965 µs ± 17.7 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

# Recap of joining

If you have two different data frames *with the same index*, then you can create one data frame from the two of them by joining.

The syntax is:

```python
df.join(other_df)
```

This does what's known in the database world as a "left inner join," meaning that the index of the new dataframe that's returned will reflect `df`, not `other_df`. You'll get a result for each match between `df` and `other_df` on their indexes.

If you want to join using columns other than the index, then you can use `set_index` or you can use the `merge` method, which lets you specify the joining column.

# Visualization!

Visualization is a tool that we can use to understand our data better, even if we understand the numbers already! We can see the relationships among numbers, and can pick out outliers and important points much more easily than just looking at tables.

The 900-pound gorilla in the visualization world in Python is known as "Matplotlib." It is super powerful! It can create lots of different types of visualizations!

It is also super super hard to learn and to use (in my experience).

In my opinion, most people can get away with using the Pandas API to Matplotlib, which is *so* much easier to use. That's what we're going to be doing today.

When you plot via Pandas, it's not only easier to work with, but it lets you pass any keyword arguments you want to the back-end Matplotlib. If you know of an option in Matplotlib, just pass it along, and Pandas will do that for you.

If you want super sophisticated plots without tearing your hair out, check out Seaborn, which is another wrapper around Matplotlib aimed at having an easy API and beautiful output.

In [18]:
# let's visualize a series!

s = Series([22, 21, 29, 25, 29, 28, 18, 16, 17, 20, 20])
s

0     22
1     21
2     29
3     25
4     29
5     28
6     18
7     16
8     17
9     20
10    20
dtype: int64