# Agenda: Week 3 â€” real-world data

0. Q&A -- setting up an environment on your computer
1. More about CSV
2. Reading data from online sources
3. Sorting
4. Grouping
5. Pivot tables
6. Joining
7. Cleaning data

# Setting up an environment

At the end of the day, in order to run the sorts of programs we're talking about in class, you'll need:

- Python - easiest way is from https://python.org/
- NumPy / Pandas / Matplotlib -- easiest way is with `pip`
- Somewhere to write that code and then run it

My preference is:

- Install Python from python.org
- Install packages via `pip`
- Edit in PyCharm (for long things) and Jupyter (for short things)
    - Install PyCharm from the JetBrains site
    - Install Jupyter with `pip`

There can be issues/differences with installing Python:
- You might install it with Anaconda, an all-in-one system
- I often install (on my Mac) the version of Python from "Homebrew," an open-source installation system

Jupyter can cause all sorts of other issues.

Basically, if you can be running Jupyter, then you can experiment with what I'm doing in class most directly, including using the files that I'm uploading to GitHub.

If you want to download + use my Jupyter notebook files, then you need to download them from GitHub (you can clone or just download a zipfile).

There's one Jupyter file (with a `.ipynb` suffix) for each day of the course.  Put that into the directory where you're running Jupyter, and you'll be able to open it on your computer.

I'm also going to be creating HTML versions of every Jupyter notebook, after class happens.  That'll allow you to view it in a browser without running Jupyter.

In [1]:
# recap a bit from last week -- loading a CSV file

import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
# create a data frame from a CSV file

df = pd.read_csv('taxi.csv')
df.head()                       # did we load the file correctly?

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

# Assumptions of `read_csv`:

1. The fields on each line are separated by commas (`,`)
2. The first line in the file contains header/column names 
3. Pandas will guess the `dtype` that it should give to each column:
    - If the column only contains integers, it's made a `np.int64`
    - If the column contains digits + decimal points, it's made a `np.float64`
    - Everything else is considered a string, which is stored as a Python string as dtype `object`